<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfdw.mapper.AccurateMapper">



    <resultMap id="BaseResultMap" type="com.nfdw.entity.Examination">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="certificate" jdbcType="INTEGER" property="certificate"/>
        <id column="grade" jdbcType="INTEGER" property="grade"/>
        <id column="status" jdbcType="INTEGER" property="status"/>
        <id column="types" jdbcType="INTEGER" property="types"/>
        <id column="current1" jdbcType="INTEGER" property="current1"/>
        <id column="college_id" jdbcType="INTEGER" property="college_id"/>
        <!--<id column="crade_id" jdbcType="INTEGER" property="crade_id" />-->
        <id column="report_setting" jdbcType="INTEGER" property="report_setting"/>
        <id column="exam" jdbcType="VARCHAR" property="exam"/>
        <id column="number_limitation" jdbcType="VARCHAR" property="number_limitation"/>
        <id column="specialty_id" jdbcType="VARCHAR" property="specialty_id"/>
        <id column="specialty_name" jdbcType="VARCHAR" property="specialty_name"/>
        <id column="subject_id" jdbcType="VARCHAR" property="subject_id"/>
        <id column="father_id" jdbcType="VARCHAR" property="father_id"/>
        <id column="province_id" jdbcType="VARCHAR" property="province_id"/>
        <id column="gathering_id" jdbcType="INTEGER" property="gathering_id"/>
        <id column="crade" jdbcType="INTEGER" property="crade"/>
        <id column="subject_stint" jdbcType="VARCHAR" property="subject_stint"/>
        <!--<id column="first_test" jdbcType="VARCHAR" property="first_test" />
        <id column="total_score" jdbcType="VARCHAR" property="total_score" />-->
        <id column="prologue" jdbcType="VARCHAR" property="prologue"/>
        <id column="version1" jdbcType="VARCHAR" property="version1"/>
        <id column="create_enclosure" jdbcType="VARCHAR" property="create_enclosure"/>
        <id column="create_disclaimer" jdbcType="VARCHAR" property="create_disclaimer"/>
        <id column="create_watermark" jdbcType="VARCHAR" property="create_watermark"/>
        <id column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <!--<id column="total_ratio" jdbcType="VARCHAR" property="total_ratio" />-->
        <id column="build" jdbcType="VARCHAR" property="build"/>
        <id column="people_num" jdbcType="VARCHAR" property="people_num"/>
        <id column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <id column="update_time" jdbcType="TIMESTAMP" property="update_time"/>
        <id column="exam_time" jdbcType="TIMESTAMP" property="exam_time"/>
        <id column="end_time" jdbcType="TIMESTAMP" property="end_time"/>
        <id column="create_start_time" jdbcType="VARCHAR" property="create_start_time"/>
        <id column="create_end_time" jdbcType="VARCHAR" property="create_end_time"/>
        <id column="prcie" jdbcType="DOUBLE" property="prcie"/>
        <id column="retestPrcie" jdbcType="DOUBLE" property="retestPrcie"/>
        <id column="subject_q_fen" jdbcType="INTEGER" property="subject_q_fen"/>
        <id column="father_q_fen" jdbcType="INTEGER" property="father_q_fen"/>
        <id column="subject_q_fen_child" jdbcType="VARCHAR" property="subject_q_fen_child"/>
        <id column="father_q_fen_child" jdbcType="VARCHAR" property="father_q_fen_child"/>
        <id column="subject_k_d_zong" jdbcType="VARCHAR" property="subject_k_d_zong"/>
        <id column="father_k_d_zong" jdbcType="VARCHAR" property="father_k_d_zong"/>
        <id column="huchi" jdbcType="INTEGER" property="huchi"/>
        <id column="check_pay" jdbcType="INTEGER" property="check_pay"/>
        <id column="retest_type" jdbcType="INTEGER" property="retest_type"/>
        <id column="grade2" jdbcType="INTEGER" property="grade2"/>
        <id column="prologue_tem" jdbcType="VARCHAR" property="prologue_tem"/>
        <id column="prologue_remarks" jdbcType="VARCHAR" property="prologue_remarks"/>
    </resultMap>


    <select id="selectListByPage" parameterType="com.nfdw.entity.Examination" resultMap="BaseResultMap">
                   SELECT * from crea_exam
     </select>


</mapper>
