<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfdw.mapper.AdministratoraccountMapper">



    <select id="Examinationstatistics" resultType="com.nfdw.entity.Examinationstatistics" parameterType="com.nfdw.pojo.Examination">
        select * from  t_audit where 1 = 1
        <if test="kaoshimingcheng != null and kaoshimingcheng !='' ">
            and  t_audit.exam_name = #{kaoshimingcheng}
        </if>
        <if test="shengyuandi != null and shengyuandi != ''">
            and  t_audit.biog_land = #{shengyuandi}
        </if>
    </select>


    <select id="Examinationstatisticsimpl" resultType="com.nfdw.entity.Examinationstatistics" >
             select * from  t_audit
    </select>




</mapper>
