<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfdw.mapper.AuditMapper">

    <resultMap id="BaseResultMap" type="com.nfdw.entity.Audit">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="u_id" jdbcType="VARCHAR" property="u_id"/>
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="biog_land" jdbcType="VARCHAR" property="biog_land" />
        <result column="exam_id" jdbcType="INTEGER" property="exam_id"/>
        <result column="exam_name" jdbcType="VARCHAR" property="exam_name" />
        <result column="major_id" jdbcType="INTEGER" property="major_id"/>
        <result column="major" jdbcType="VARCHAR" property="major" />

        <result column="sub_time" jdbcType="TIMESTAMP" property="sub_time"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="end_time"/>
        <result column="audit_status" jdbcType="VARCHAR" property="audit_status" />
        <result column="audit_time" jdbcType="TIMESTAMP" property="audit_time"/>
        <result column="enroll_status" jdbcType="VARCHAR" property="enroll_status" />
        <result column="audit_reason" jdbcType="VARCHAR" property="audit_reason" />
        <result column="pay_status" jdbcType="VARCHAR" property="pay_status" />
        <result column="audit_link" jdbcType="VARCHAR" property="audit_link" />
    </resultMap>


    <select id="getAudit" parameterType="java.lang.String" resultType="java.lang.String">
        select * from t_audit
    </select>

    <select id="selectListByPage" parameterType="com.nfdw.entity.Audit" resultMap="BaseResultMap">
        select * from t_audit where 1=1
        <if test="exam_name !=null and exam_name != ''">
            and exam_name = #{exam_name}
        </if>
        <if test="biog_land != null and biog_land != ''">
            and biog_land = #{biog_land}
        </if>
        <if test="major != null and major != ''">
            and major = #{major}
        </if>
        <if test="audit_status != null and audit_status != ''">
            and audit_status = #{audit_status}
        </if>
        <if test="pay_status != null and pay_status != ''">
            and pay_status = #{pay_status}
        </if>
        <if test="audit_link != null and audit_link != ''">
            and audit_link = #{audit_link}
        </if>
        <if test="enroll_status != null and enroll_status != ''">
            and enroll_status = #{enroll_status}
        </if>
        <if test="name != null and name != ''">
            and name like CONCAT('%',#{name},'%')
        </if>

    </select>

    <select id="getAuditById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from t_audit where 1=1
        <if test="id!='' and id !=null">
            and id=#{id}
        </if>
    </select>

    <sql id="auditColumn">
        <trim suffix="" suffixOverrides=",">
            <if test="id!=null">
                id,
            </if>
            <if test="u_id!=null">
                u_id,
            </if>
            <if test="name!=null">
                name,
            </if>
            <if test="biog_land!=null">
                biog_land,
            </if>
            <if test="exam_id!=null">
                exam_id,
            </if>
            <if test="exam_name!=null">
                exam_name,
            </if>
            <if test="major_id!=null">
                major_id,
            </if>
            <if test="major!=null">
                major,
            </if>
            <if test="sub_time!=null">
                sub_time,
            </if>
            <if test="end_time!=null">
                end_time,
            </if>
            <if test="audit_status!=null">
                audit_status,
            </if>
            <if test="audit_time!=null">
                audit_time,
            </if>
            <if test="enroll_status!=null">
                enroll_status,
            </if>
            <if test="audit_reason != null">
                audit_reason,
            </if>
            <if test="pay_status != null">
                pay_status,
            </if>
            <if test="audit_link != null">
                audit_link,
            </if>
            <if test="info_collect_status != null">
                info_collect_status,
            </if>
            <if test="re_pay_status != null">
                re_pay_status,
            </if>
            <if test="re_enroll_status != null">
                re_enroll_status,
            </if>
            <if test="re_audit_status != null">
                re_audit_status,
            </if>
            <if test="re_audit_time != null">
                re_audit_time,
            </if>
        </trim>
    </sql>

    <sql id="auditValue">
        <trim suffix="" suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="u_id!=null">
                #{u_id},
            </if>
            <if test="name!=null">
                #{name},
            </if>
            <if test="biog_land!=null">
                #{biog_land},
            </if>
            <if test="exam_id!=null">
                #{exam_id},
            </if>
            <if test="exam_name!=null">
                #{exam_name},
            </if>
            <if test="major_id!=null">
                #{major_id},
            </if>
            <if test="major!=null">
                #{major},
            </if>
            <if test="sub_time!=null">
                #{sub_time},
            </if>
            <if test="end_time!=null">
                #{end_time},
            </if>
            <if test="audit_status!=null">
                #{audit_status},
            </if>
            <if test="audit_time!=null">
                #{audit_time},
            </if>
            <if test="enroll_status!=null">
                #{enroll_status},
            </if>
            <if test="audit_reason != null">
                #{audit_reason},
            </if>
            <if test="pay_status != null">
                #{pay_status},
            </if>
            <if test="audit_link != null">
                #{audit_link},
            </if>
            <if test="info_collect_status != null">
                #{info_collect_status},
            </if>
            <if test="re_pay_status != null">
                #{re_pay_status},
            </if>
            <if test="re_enroll_status != null">
                #{re_enroll_status},
            </if>
            <if test="re_audit_status != null">
                #{re_audit_status},
            </if>
            <if test="re_audit_time != null">
                #{re_audit_time},
            </if>
        </trim>
    </sql>


    <sql id="auditValue2">
        <trim suffix="" suffixOverrides=",">
            <if test="u_id!=null">
                u_id=#{u_id},
            </if>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="biog_land!=null">
                biog_land=#{biog_land},
            </if>
            <if test="exam_id!=null">
                exam_id=#{exam_id},
            </if>
            <if test="exam_name!=null">
                exam_name=#{exam_name},
            </if>
            <if test="major_id!=null">
                major_id=#{major_id},
            </if>
            <if test="major!=null">
                major=#{major},
            </if>
            <if test="sub_time!=null">
                sub_time=#{sub_time},
            </if>
            <if test="end_time!=null">
                end_time=#{end_time},
            </if>
            <if test="audit_status!=null">
                audit_status=#{audit_status},
            </if>
            <if test="audit_time!=null">
                audit_time=#{audit_time},
            </if>
            <if test="enroll_status!=null">
                enroll_status=#{enroll_status},
            </if>
            <if test="audit_reason != null">
                audit_reason=#{audit_reason},
            </if>
            <if test="pay_status != null">
                pay_status=#{pay_status},
            </if>
            <if test="audit_link != null">
                audit_link=#{audit_link},
            </if>
            <if test="info_collect_status != null">
                info_collect_status=#{info_collect_status},
            </if>
            <if test="re_pay_status != null">
                re_pay_status=#{re_pay_status},
            </if>
            <if test="re_enroll_status != null">
                re_enroll_status=#{re_enroll_status},
            </if>
            <if test="re_audit_status != null">
                re_audit_status=#{re_audit_status},
            </if>
            <if test="re_audit_time != null">
                re_audit_time=#{re_audit_time},
            </if>
        </trim>
    </sql>

    <insert id="addAudit">
        insert into t_audit(
        <include refid="auditColumn"/>
        ) values (
        <include refid="auditValue"/>
        )
    </insert>

    <update id="updAudit">
        update t_audit set
        <include refid="auditValue2"/>
        where id=#{id}
    </update>

    <select id="getExaminee_UserById" resultType="com.nfdw.entity.Examinee_User">
        select * from examinee_user where id=#{id}
    </select>

    <select id="getUserInfoById" resultType="com.nfdw.entity.StudentInformation">
        select * from j_student_information where student_userid=#{student_userid}
    </select>


</mapper>