<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfdw.mapper.Infor_CollectionMapper">

    <resultMap id="BaseResultMap" type="com.nfdw.entity.Infor_collection">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="template_name" jdbcType="VARCHAR" property="template_name" />
        <result column="template_status" jdbcType="VARCHAR" property="template_status" />
        <result column="founder" jdbcType="VARCHAR" property="founder" />
        <result column="founder_name" jdbcType="VARCHAR" property="founder_name" />
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <result column="exam_id" jdbcType="INTEGER" property="exam_id"/>
    </resultMap>


    <select id="selectListByPage" parameterType="com.nfdw.entity.Infor_collection" resultMap="BaseResultMap">
        select * from infor_collection where 1=1
        <if test="exam_id!=null and exam_id!=0">
            and id in(select infor_id from infor_collection_exam where exam_id=#{exam_id})
        </if>
        <if test="template_status!=null and template_status!=''">
            and template_status = #{template_status}
        </if>
        <if test="founder!=null and founder!=''">
            and founder= #{founder}
        </if>
        <if test="template_name!=null and template_name!=''">
            and template_name like CONCAT('%',#{template_name},'%')
        </if>
    </select>

    <insert id="addInfor_Collection">
        insert into infor_collection(template_name,template_status,founder,founder_name,create_time,exam_id)
        values(#{template_name},#{template_status},#{founder},#{founder_name},#{create_time},#{exam_id})
    </insert>

    <insert id="addInfor_Collection_Temp">
        insert into infor_collection_temp_norms(temp_norms_name,temp_norms_desc,infor_collection_id)
        values(#{temp_norms_name},#{temp_norms_desc},#{infor_collection_id})
    </insert>

    <select id="selectLastInfor_CollectionID" resultType="java.lang.Integer">
        select id from infor_collection where create_time = (select Max(create_time) from infor_collection)
    </select>

    <update id="updateTemplate_status">
        update infor_collection set template_status= #{template_status}
        where id=#{id}
    </update>

    <select id="selectInforById" resultType="com.nfdw.entity.Infor_collection">
        select * from infor_collection where id = #{id}
    </select>

    <!--<resultMap id="seeShare" type="com.nfdw.entity.Infor_collection_temp_norms">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="writeTime" property="writeTime" />
        <result column="username" property="username" />
    </resultMap>-->

    <select id="selectTemp_NormsByInforId" resultType="com.nfdw.entity.Infor_collection_temp_norms">
        select * from infor_collection_temp_norms where infor_collection_id = #{id}
        <if test="temp_norms_name != null and temp_norms_name!=''">
            and temp_norms_name = #{temp_norms_name}
        </if>
    </select>

    <update id="updInfor_Collection">
        update infor_collection set template_name= #{template_name},founder=#{founder},
        founder_name=#{founder_name},create_time=#{create_time}
        where id=#{id}
    </update>

    <delete id="delTemp_NormsByInforId">
        delete from infor_collection_temp_norms where infor_collection_id=#{id}
    </delete>

    <delete id="delInfor_CollectionById">
        delete from infor_collection where id=#{id}
    </delete>

</mapper>