<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfdw.mapper.SpecEntityMapper">
    <resultMap id="BaseResultMap" type="com.nfdw.entity.SpecEntity">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="ZYH" jdbcType="VARCHAR" property="ZYH" />
        <result column="SFTY" jdbcType="VARCHAR" property="SFTY" />
        <result column="ZYMC" jdbcType="VARCHAR" property="ZYMC" />
    </resultMap>


    <insert id="add" parameterType="com.nfdw.entity.SpecEntity">
        insert into spec_entity(
        ZYH,
        SFTY,
        ZYMC
        )values (
        #{ZYH},
        #{SFTY},
        #{ZYMC}
        )
    </insert>


</mapper>