<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfdw.mapper.SpecManagementMapper">

    <resultMap id="BaseResultMap" type="com.nfdw.entity.SpecManagement">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sub_limit" jdbcType="INTEGER" property="sub_limit" />
        <result column="code" jdbcType="INTEGER" property="code"/>
        <result column="res_status" jdbcType="INTEGER" property="res_status" />
        <result column="zs_content" jdbcType="VARCHAR" property="zs_content"/>
        <result column="ticket_id" jdbcType="VARCHAR" property="ticket_id" />
        <result column="update_time" jdbcType="TIMESTAMP" property="update_time"/>
        <result column="update_people" jdbcType="VARCHAR" property="update_people"/>
        <result column="collect_id" jdbcType="VARCHAR" property="collect_id" />
    </resultMap>
<!--
    <sql id="specClumns">

    </sql>-->

    <select id="selectListByPage" parameterType="com.nfdw.entity.SpecManagement" resultMap="BaseResultMap">
        select * from spec_management
        <if test="name != null and name != ''" >
            and name = #{name}
        </if>

        <if test="sub_limit != null and sub_limit != ''">
            and sub_limit = #{sub_limit}
        </if>
        <if test="code != null and code != ''">
            and code = #{code}
        </if>
        <if test="res_status != null and res_status != ''">
            and res_status = #{res_status}
        </if>
        <if test="zs_content != null and zs_content != ''">
            and zs_content = #{zs_content}
        </if>

        <if test="ticket_id != null and ticket_id != ''">
            and ticket_id = #{ticket_id}
        </if>
         <if test="update_time != null and update_time != ''">
            and update_time = #{update_time}
        </if>
         <if test="update_people != null and update_people != ''">
            and update_people = #{update_people}
        </if>
         <if test="collect_id != null and collect_id != ''">
            and collect_id = #{collect_id}
        </if>

    </select>

   <!-- <insert id="addSpec" parameterType="com.nfdw.entity.SpecManagement">
       insert into spec_management (
       <include refid=""/>
       )
       values (
       <include refid=""/>
        )
    </insert>-->

</mapper>