<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfdw.mapper.StudentInformationMapper">
  <insert id="addStudentInformation" parameterType="com.nfdw.entity.StudentInformation">
    insert into j_student_information(student_id,student_userid,certificate_type,certificate_number,name,sex,nation,birthdate,street,recipient,phone,
    postal_code,email,examinee_type,examinee_education,examinee_province,politics_status,graduate_type,graduate_middle,examinee_number,subject_type,
    member_name,member_relationship,member_occupation,member_work,member_phone,photograph)
    values (#{student_id},#{student_userid},#{certificate_type},#{certificate_number},#{name},#{sex},#{nation},#{birthdate}
    ,#{street},#{recipient},#{phone},#{postal_code},#{email},#{examinee_type},#{examinee_education},#{examinee_province},#{politics_status}
    ,#{graduate_type},#{graduate_middle},#{examinee_number},#{subject_type},#{member_name},#{member_relationship},#{member_relationship},
    #{member_work},#{member_phone},#{photograph})
  </insert>
  <select id="getUserIDByStudentInformation" resultType="com.nfdw.entity.StudentInformation">
    select * from j_student_information where name=#{name}
  </select>
  <select id="getListExamination" resultType="com.nfdw.entity.Examination">
    SELECT c.*,s.`name`
    FROM crea_exam c
    LEFT JOIN spec_management s ON c.specialty_id=s.id
    WHERE c.end_time &gt;= to_date(#{exam_time},'yyyy-MM-dd')
    AND c.exam_time &lt;= to_date(#{exam_time},'yyyy-MM-dd')
    AND c.province_id = ${examinee_province}
    AND c.subject_stint = ${subject_type}
    <if test="exam!=null and exam!=''">
      and c.exam = ${exam}
    </if>
    <if test="name!=null and name!=''">
      and s.name = ${name}
    </if>
    <if test="create_start_time!=null and create_start_time!=''">
      AND c.create_start_time=#{create_start_time};
    </if>
  </select>
  <insert id="addStudentExamAudit">

  </insert>
</mapper>