<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfdw.mapper.StudentInformationMapper">
  <insert id="addStudentInformation" parameterType="com.nfdw.entity.StudentInformation">
    insert into j_student_information(student_id,student_userid,certificate_type,certificate_number,name,sex,nation,birthdate,street,recipient,phone,
    postal_code,email,examinee_type,examinee_education,examinee_province,politics_status,graduate_type,graduate_middle,examinee_number,subject_type,
    member_name,member_relationship,member_occupation,member_work,member_phone,photograph)
    values (#{student_id},#{student_userid},#{certificate_type},#{certificate_number},#{name},#{sex},#{nation},#{birthdate}
    ,#{street},#{recipient},#{phone},#{postal_code},#{email},#{examinee_type},#{examinee_education},#{examinee_province},#{politics_status}
    ,#{graduate_type},#{graduate_middle},#{examinee_number},#{subject_type},#{member_name},#{member_relationship},#{member_relationship},
    #{member_work},#{member_phone},#{photograph})
  </insert>
  <update id="updateStudentInformation" parameterType="com.nfdw.entity.StudentInformation">
     UPDATE j_student_information SET certificate_type=#{certificate_type},certificate_number=#{certificate_number},
     name=#{name},sex=#{sex},nation=#{nation},birthdate=#{birthdate},street=#{street},recipient=#{recipient},phone=#{phone},
    postal_code=#{postal_code},email=#{email},examinee_type=#{examinee_type},examinee_education=#{examinee_education},
    examinee_province=#{examinee_province},politics_status=#{politics_status},graduate_type=#{graduate_type},
    graduate_middle=#{graduate_middle},examinee_number=#{examinee_number},subject_type=#{subject_type},
    member_name=#{member_name},member_relationship=#{member_relationship},member_occupation=#{member_occupation},
    member_work=#{member_work},member_phone=#{member_phone},photograph=#{photograph} WHERE student_userid=#{student_userid}
  </update>
  <select id="getUserIDByStudentInformation" resultType="com.nfdw.entity.StudentInformation">
    select * from j_student_information j
    LEFT JOIN sys_user s ON j.student_userid=s.id
    where s.username=#{name }
  </select>
  <select id="getListExamination" resultType="com.nfdw.entity.Examination">
    SELECT c.*,s.`name` as name
    FROM crea_exam c
    LEFT JOIN spec_management s ON c.specialty_id=s.id
    WHERE c.end_time &gt;= #{currentDate}
    AND c.exam_time &lt;= #{currentDate}
    AND c.province_id = #{examinee_province}
    AND c.subject_stint = #{subject_type}
    <if test="examName!=null">
      and c.exam = #{examName}
    </if>
    <if test="subjectName!=null">
      and s.name = #{subjectName}
    </if>
    <if test="create_start_time!=null">
      AND c.create_start_time=#{create_start_time};
    </if>
  </select>
  <insert id="addStudentExamAudit" parameterType="com.nfdw.entity.StudentExamAudit">
     insert into j_student_examAudit(information_id,exam_time,exam_id,management_id,kaoChang_id,agreement,`time`)
    values (#{informationId},#{examTime},#{examId},#{managementId},#{kaoChangId},#{agreement},#{time})

  </insert>
  <select id="getStudentInfoConunt" resultType="int">
    	SELECT count(1)
    FROM j_student_information j
	  LEFT JOIN sys_user u on j.student_userid=u.id
		WHERE u.username=#{username}
  </select>
</mapper>